

.exit{
    /*导致回流*/
    transform-origin: left top; 
    transform: scale(1);
}

.exit-active {
    transform: scale(0);
    transition: 1s;
}

.enter {
    transform: scale(0);
    transform-origin: left top; 
}

.enter-active {
    transform: scale(1);
    transition: 1s;
}