
.page {
    width: 2500px;
    margin: 0 auto;
}


.page1 {
    background-color: lightblue;
}

.page2 {
    background-color: lightgreen;
}

.nav {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: lightpink;
}

.nav a{
    text-decoration: none;
    padding: 20px;
    display: block;
    color: #fff;
}

.nav a.active {
    color: red;
}